.vscode
python_project/CES3063_Fall2020_rptSinifListesi.XLS
python_project/CSE3063_20201123_Mon_zoom_PollReport.csv
python_project/CSE3063_20201124_Tue_zoom_PollReport.csv
python_project/__pycache__
.idea
attendence.xlsx
Monday poll.xlsx
Thursday poll.xlsx
Tuesday poll.xlsx
outputs
